# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node / Frontend (Vite)
node_modules
dist
dist-ssr
*.local

# Dotnet / Backend
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

# IDE / Editor settings
.vscode/*
!.vscode/extensions.json
.idea/
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db
